main{
    justify-items: center;
    font-size: 1.75rem;
}

h1{
    background-color: red;
    text-align: center;
    font-size: 4rem;
}

p{
    text-align: center;
}

.myPhoto{
    width: 60vh;
    height: 60vh;
}

.myGames{
    width: 10vh;
    height: 10vh;
}